.container {
  min-height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: flex-end;
}

.content {
  background-image: linear-gradient(0deg, #121212, transparent 80%);
  width: 100%;
  padding: 4rem 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.logo {
  max-width: 600px;
  width: 100%;
  margin-bottom: 32px;
  height: auto;
}

.text {
  display: inline-block;
  background: rgba(0, 0, 0, .3);
  border-radius: 16px;
  font-size: 1.125rem;
  padding: 16px 24px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .7);
  color: #FFF;
  font-family: Inter, sans-serif;
}
